%h1 Форма для заполнения
= simple_form_for(@personal, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
  .form-actions
    = f.input :fio, label: 'ФИО', error: 'ФИО должно быть заполнено', hint: "Например: Иванов Иван Иванович", :input_html => { :class => 'form-control' }, required: true
  .form-actions
    = f.input :address_post, label: 'Адрес (почтовый)', error: 'Необходимо заполнить почтовый адрес', hint: "Например: г. Симферополь, ул. Тургенева, 20",  required: true
  .form-actions
    = f.input :address_connection, label: 'Адрес (подключения)', error: 'Необходимо заполнить адрес подключения', hint: "Например: г. Симферополь, ул. Киевская, 114",  required: true
  .form-actions
    = f.input :telephone, label: 'Мобильный телефон', error: 'Необходимо указать мобильный телефон', hint: "Например: +79789999999", required: true
  .form-actions
    = f.input :birthday, label: 'Дата рождения', error: 'Необходимо указать дату рождения', hint: "Например: 27.03.1964г.",  required: true
  .form-actions
    = f.input :passport, label: 'Паспорт серия и номер', error: 'Необходимо указать серию и номер паспорта', hint: "Например: 9213 683567", required: true
  .form-actions
    = f.input :passport_date, label: 'Дата выдачи паспорта', error: 'Необходимо указать дату выдачи паспорта', hint: 'Например: 22.06.2014г', required: true
  .form-actions
    = f.input :passport_authority, label: 'Кем выдан паспорт', error: 'Необходимо указать кем выдан паспорт', hint: 'Например: ФМС 900-003', required: true
    = f.input :contract_id, as: :hidden, input_html: { value: @contract.id }
    = f.input :contract_title, as: :hidden, input_html: { value: @contract.title }
    = f.input :contract_comment, as: :hidden, input_html: { value: @contract.comment }
  .form-actions
    = f.button :submit