%h1 Personals#update
%p
  = @contract.title
%p
  = @contract.comment
%p
  - @contract.contract_parameter_type1.where(pid: 29).map do |fio|
    = fio.val
%p
  - @contract.contract_parameter_type2.where(pid: 5).map do |post_address|
    = post_address.address
%p
  - @contract.contract_parameter_type2.where(pid: 42).map do |conn_address|
    = conn_address.address
%p
  - if @contract.contract_parameter_type3.where(pid: 8).empty?
    Нет данных об электронной почте
  - else
    - @contract.contract_parameter_type3.where(pid: 8).map do |email|
      = email.email
%p
  - if @contract.phones.empty?
    Нет данных о мобильном телефоне
  - else
    - @contract.phones.where(pid: 14).map do |phone|
      +
      = phone.value
%p
  - if @contract.contract_parameter_type6.where(pid: 58).empty?
    Нет данных о дате рождения
  - else
    - @contract.contract_parameter_type6.where(pid: 58).map do |birthday|
      = birthday.val
