.container
  %div
    = @personal.id
  %div
    = @personal.contract_id
  %div
    = @personal.contract_title
  %div
    = @personal.contract_comment
  %div
    = @personal.fio
  %div
    = @personal.adress_post
  %div
    = @personal.address_connection
  %div
    = @personal.telephone
  %div
    = @personal.birthday
  %div
    = @personal.passport
  %div
    = @personal.passport_date

  %div
    = @personal.passport_authority