!!!
%html
  %head
    %title ООО Крыминфоком
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/header'
    %section.inner-bg
      .container
        .row
          .col-lg-12
            %h1 Уважаемый абонент!
            %p 
              Ввиду того, что данные в Вашем договоре усторели, Вам необходимо предоставить ООО Крыминфоком актуальные данные. Для этого, предлагаем Вам заполнить предложенную нами форму. После заполнения формы Ваши данные попадут к нам в систему биллинга, после чего Вы сможете дальше пользоваться услугой Интернет.
            %p
              Если у Вас возникли вопросы, мы можете обратиться за разъяснениями в абонентский отдел ООО Крыминфоком по телефону: +7(978)838-37-23.
    %section.wrapper
      .container
        .row
          .col-lg-12
            = yield
    %footer
      =render 'layouts/footer'